h1 {
  font-size: 65px;
  text-shadow: 4px 7px 7px rgba(0, 0, 0, 0.91);
}
h2 {
  font-size: 40px;
  font-style: italic;
  text-align: center;
  text-shadow: 4px 5px 7px rgba(0, 0, 0, 0.91);
}
body {
  text-align: center;
  background-color: rgb(20, 20, 20);
  color: #af4646;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.header {
  padding: 30px;
  text-align: center;
  color: black;
  background: #af4646;
  font-size: 50px;
  border: 3px solid black;
}
a:visited {
  color: black;
  text-decoration: none;
}

.header a {
  color: rgb(46, 46, 46);
  text-decoration: none;
}

.dropdown {
  z-index: 0;
  display: grid;
  place-items: center;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 10px;
  height: 75px;
}
.dropdown-menu {
  display: grid;
  place-items: center;
  margin-top: 5px;
  background-color: rgb(63, 63, 63);
  padding: 0.75rem;
  border-radius: 0.35rem;
  box-shadow: 0px -20px 60px -20px rgba(0, 0, 0, 0.7);
  opacity: 0;
  width: 300px;
  pointer-events: none;
  transform: translateY(-70px);
  transition: opacity 150ms ease-in-out, transform 450ms ease-in-out;
  border: 2px solid black;
  z-index: 1;
}
.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.link {
  font-size: 40px;
  background-color: rgb(63, 63, 63);
  box-shadow: 0px 10px 20px 7px rgba(0, 0, 0, 0.31);
  color: var(--main-color);
  display: grid;
  cursor: pointer;
  border-radius: 0.25rem;
  width: 75vw;
  height: 9.5vh;
  place-items: center;
  border: 2px solid black;
}

.dropdown-menu a {
  z-index: 0;
  text-decoration: none;
  padding: 15px;
  width: 180px;
  margin: 10px;
  background: rgb(252, 252, 252);
  border: 2px solid black;
  border-radius: 5px;
}
